@import 'entity-map';

body {
    margin: 0;
    padding: 0;
}

#map {
    height: 100vh;
}

.avatar {
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.poi {
    font-size: 16px;
    text-align: center;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.poi::after {
    /* Default symbol! */
    content: '✖️';
}

@each $entity, $symbol in $entityMap {
    .poi--entity-#{$entity}::after {
        content: $symbol;
    }
}

.leaflet-popup-content {
    text-align: center;
    font-family: monospace;
}
