$map: (
    container: '📦',
    chest: '📦',
    barrel: '📦',
    beehive: '🐝',
    sign: '🪧',
    mob_spawner: '⛓',
    campfire: '🏕️',
    bell: '🔔',
    bed: '🛌',
    banner: '🏳️‍🌈',
    sculk_shrieker: '🪬',
    sculk_sensor: '🧿',
    brushable_block: '❔',
    lectern: '📖',
);
